td {
  padding: 0 15px;
}

h1 {
  text-align: center;
}

.btn {
  text-decoration: none;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}

.btn-normal {
  background-color: green;
}

.btn-warning {
  background-color: orange;
}

.btn-dangerous {
  background-color: red;
}

tbody td {
  height: 30px;
}
