

.element{
    width: 100px;
    height: 300px;
    background-color: grey;
    color: #fff;
    font-size: 48px;
    text-align: center;
}

.element img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider{
    height: 900px;    
}