* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: grey;
}

.user-profile {
}

.background {
    height: 200px;
    width: 100%;
    background: #0a6ebd;
}

.user-status{
    display: flex;
    gap: 40px;
}

.avatar {
    margin-top: -100px;
    width: 200px;
    height: 200px;
}

.avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-name {
    font-size: 40px;
    color: #fff;
}

.post{
    width: 400px;
    margin: 20px auto;

}
